Source: django-library
Section: python
Priority: extra
Maintainer: Guillaume Le Punk <gbeaulieu@koumbit.org>
Uploaders: Antoine Beaupré <anarcat@debian.org>
Build-Depends: debhelper (>= 8.0.0), python
Standards-Version: 3.9.4
Homepage: https://github.com/GuillaumeFromage/django-library 
#Vcs-Git: git://git.debian.org/collab-maint/django-library.git
#Vcs-Browser: http://git.debian.org/?p=collab-maint/django-library.git;a=summary

Package: django-library
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}, ${python:Depends},
 python-mysqldb,
 apache2,
 libapache2-mod-wsgi (>=2.3),
 python-django,
 libjs-jquery,
Description: Django project to provide a searchable database for small libraries
  Provides numerous interlinked objects, books and loans, authors, borrowers and
  publishers, with a django web interface.

Package: django-library-doc
Architecture: all
Section: doc
Description: documentation for django-library
  Just a TODO file but there used to be an install file
