#!/usr/bin/make -f
# -*- makefile -*-
# Sample debian/rules that uses debhelper.
#
# This is coming straight from openstack-dashboard package
# Therefore this is copyright Copyright: 2011 Julien Danjou <acid@debian.org>
# and licensed under apache2 as specified

# Uncomment this to turn on verbose mode.
#export DH_VERBOSE=1

%:
	dh $@ --with python2
