body {
  font-family: "Verdana", "Arial", sans-serif;
}


/**
 * Layout
 */

#main,
#header {
  background: white;
  display: block;
  margin: 1em auto;
  width: 960px;
  border-radius: 5px;
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
  padding: 1em .5em;
  -moz-box-shadow: 0 0 5px 2px #888;
  -webkit-box-shadow: 0 0 5px 2px #888;
  box-shadow: 0 0 5px 2px #888;
}

#content {
  width: 700px;
  float: left;
}

#sidebar {
  width: 230px;
  float: right;
}

#footer {
  clear: both;
}

table th {
  text-align: left;
  padding-left: 1em;
}

tbody th {
  padding-left: 0px;
}

table {
  width: 100%;
  border-spacing: 0px;
}

table td.book-lang {
  text-transform: uppercase;
  font-size: 90%;
  text-align: center;
}

#book-links {
  float: right;
}

#sidebar ul {
  padding-left: .5em;
}

/**
 * Colours and Images
 */

tbody th a {
  text-decoration: none;
}

table tbody tr td,
table tbody tr th {
  border-top: 1px solid #ddd;
}

table tbody tr.even,
table thead tr {
  background: #eee;
}

body {
  background: #6C0202 url('/static/imgs/background.jpg') no-repeat fixed left top;
  font-size: 12px;
}

#main h1,
#main h2,
#main h3,
#main h4,
#main h5,
#main h6,
#main a,
#main a:visited {
  color #105CB6;
}

#content {
  border: 1px solid #105CB6;
  border-radius: 5px;
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
  padding: .5em;
}

#nav {
  width: 870px;
  margin: 1em auto -1em;
  position: relative;
  z-index: 0px;
}

#nav .button {
  display: inline-block;
  background: #fff;
  border-top-left-radius: 5px;
  -moz-border-radius-topleft: 5px;
  -webkit-border-top-left-radius: 5px;
  border-top-right-radius: 5px;
  -moz-border-radius-topright: 5px;
  -webkit-border-top-right-radius: 5px;
}

#nav .button a {
  background: #B3D28D;
  color: #325B0A;
  display: inline-block;
  font-weight: bold;
  margin: 5px 5px 0px;
  text-decoration: none;
  padding: .5em 1em;
  border: 1px solid #325B0A;
  -moz-border-radius-topleft: 5px;
  -webkit-border-top-left-radius: 5px;
  border-top-right-radius: 5px;
  -moz-border-radius-topright: 5px;
  -webkit-border-top-right-radius: 5px;
}

#nav .button a:hover {
  text-decoration: underline;
}


#header {
  color: #fff;
  background: #000 url('/static/imgs/header.jpg') no-repeat scroll top;
  border: 10px solid #fff;
  height: 160px;
  width: 904px;
  padding: 0;
  z-index: 5;
  position: relative;
}

#header h1 {
  display: inline-block;
  padding: 1em 0 0 2em;
}

#header h1 a {
  color: #fff;
  text-decoration: none;
}

#sidebar h1,
#sidebar h2,
#sidebar h3,
#sidebar h4,
#sidebar h5,
#sidebar h6 {
  color: #8DAB3B;
}

#sidebar div {
  border-left: 1px solid #8DAB3B;
  border-top: 1px solid #8DAB3B;
  border-radius: 5px;
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
  margin-bottom: 1em;
  padding-left: 1em;
}

#sidebar div div {
  border: none;
  margin: none;
  padding: none;
}

#sidebar a {
  color: #8DAB3B;
}

#sidebar a.action {
  text-decoration: none;
  font-weight: bold;
  font-size: 125%;
}

.pagination {
  font-weight: bold;
  text-align: center;
  text-transform: uppercase;
  font-size: 90%;
}

/**
 * Messages
 */

#messages {
  text-align: center;
}

#messages .warning {
  border: 1px solid #ff0;
  border-radius: 3px;
  -moz-border-radius: 3px;
  -webkit-border-radius: 3px;
  background: #ffe;
  width: auto;
  display: inline-block;
  font-size: 110%;
}

#messages .warning .mark {
  font-size: 200%;
  margin: 0 .5em;
  color: #ee0;
}
